body {
    margin: 0;
}
/* *********************************************************************************************  */

/* começo do header */
/* DIV PARA O HEADER */
.header {
    height: 20%;
    width: 99.7%;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* DIV PARA O LOGO */
.logo {
    display: flex;
    height: 100%;
    width: 30%;
    justify-content: center;
}

.logo img {
    height: 10vh;
    width: 20vw;
    border-radius: 30px;
    padding: 5px;
}

/* PARA AJUSTAR OS ICONES DO MENU */
.menu {
    display: flex;
    height: 100%;
    width: 70%;
    justify-content: space-around;
    font-family: 'Signika Negative', sans-serif;
    cursor: pointer;
}

/* DIV PARA TIRAR A DECORAÇAÕ DO A */
.menu a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

/* ********************************************************************************************* */

/* Rodape */
.footer {
    /* border: 2px solid rgb(63, 180, 165); */
    height: 20%;
    width: 100%;
}

/* ********************************************************************************************* */

/* Comeco do meio da pagina Index */

/* DIV PARA O BANNER */
.banner {
    /* border: 2px solid gold; */
    height: 100%;
    width: 100%;
}

/* DIV PARA O CONTAINER */

.container {
    /* border: 2px solid rgb(69, 59, 163); */
    height: 100%;
    width: 100%;
}

.bg_video {
    position: relative;
    bottom: 0px;
    right: 0;
    min-width: 100%;
    width: 100%;
    height: 100%;
    z-index: -1000;
    background-size: cover;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    /* border: 2px solid black; */
    margin: 0;
}

.painel h1 {
    position: absolute;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 80px;
    color: black;
}
.painel h1:hover{
    text-shadow: 12px 8px 8px #fff;
}
.painel {
    display: flex;
    justify-content:center;
    align-items:center;
}

/* COMECANDO A PARTE DE FOTOS */



/* DIV DO PAINEL */
/* 
.painel{
    font-size: 25px;
    border:2px solid black;
    font-family:cursive;
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content:center;
    align-items: center;
}
.slider{
    margin: 0 auto;
    width: 400px;
    height: 400px;
    overflow: hidden;
    border: 2px solid gold;
}
.slides{
    width: 100%;
    height: 100%;
    display: flex;
    border: 2px solid rgb(17, 0, 255); 
}
.slides input{
    display: none;
}

.slide{
    width: 25%;
    position: relative;
   
}

.slide img{
    width: 400px;
    height: 400px;
}

.manual-navigation{
    position: absolute;
    width: 400px;
    display: flex;
    justify-content: center;
    border: 2px solid black; 
}

.manual-btn{
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: black;
}

#radio1:checked ~ .first{
    margin-left:0;
}

#radio2:checked ~ .first{
    margin-right: 0;
}

#radio3:checked ~ .first{
    margin-left: 0;
} 

#radio4:checked ~ .first{
    margin-left: 0;
}
  */

/* ********************************************************************************************* */