body {
  margin: 0;
  font-family: "Barlow Condensed", sans-serif;
}

.banner {
  /* border: 2px solid gold; */
  height: 100%;
  width: 100%;
}

.container {
  /* border: 2px solid rgb(69, 59, 163); */
  height: 100%;
  width: 100%;
}
/* INPUT PADRÃO */
input{
  border: 2px solid rgb(233, 14, 116);
  width: 100%;
  border-radius: 10px;
  height: 15%;
  
}
/* BOTOES PADRAO */
.btn {
  height: 70px;
  width: 120px;
  border-radius: 15px;
  background-color: black;
  font-size: 20px;
  cursor: pointer;
  color: white;
}

.btn a {
  text-decoration: none;
  color: white;
}

.btn:hover,
.btn:active {
  font-size: 150%;
}

/* *********************************************************************************************  */

/* PAGINA INDEX */

/* codigo relacionado ao header */
.header {
  height: 20%;
  width: 99.7%;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  display: flex;
  height: 100%;
  width: 30%;
  justify-content: center;
}

.logo img {
  height: 10vh;
  width: 20vw;
  border-radius: 30px;
  padding: 5px;
}

.menu {
  display: flex;
  height: 100%;
  width: 70%;
  justify-content: space-around;
  font-family: "Signika Negative", sans-serif;
  cursor: pointer;
}

.menu a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}
.menu a:hover,
.menu a:active {
  color: rgb(233, 14, 116);
}

.painel {
  display: flex;
  border: 2px solid black;
  align-items: center;
  width: 99.7%;
  justify-content: center;
  background-color: pink;
}

.video {
  display: flex;
  /* border: 2px solid white; */
  width: 40%;
  height: 400px;
}

.bg_video {
  display: flex;
  border-radius: 10px;
  margin: 0;
  height: 100%;
  width: 100%;
  /* background-color: black; */
}
/* TAG PARA MUDAR A COR DO MENU */
#agora{
  color: rgb(233, 14, 116);
 }
/* CODIGO RELACIONADO A ANIMAÇÃO TEXTO INICIAÇÃO */
.typewriter {
  margin-left: 15px;
  font-size: 50px;
  width: 70%;
}
.typewriter h1 {
  overflow: hidden;
  margin: 0 auto;
  display: inline-block;
  font-weight: normal;
}
.typewriter h1:after {
  content: "";
  display: inline-block;
  background-color: white;
  margin-left: 2px;
  height: 25px;
  width: 4px;
  animation: cursor 0.4s infinite;
}

/* The typewriter cursor effect */
@keyframes cursor {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* DIV dps do painel */

.missao {
  display: flex;
  /* border: 2px solid black; */
  height: 600px;
  width: 99.7%;
  flex-direction: row;
  margin-bottom: 70px;
}

.tudo {
  display: flex;
  /* border: 2px solid black; */
  width: 60%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  /* background-color: blueviolet; */
}

.foto {
  display: flex;
  width: 40%;
  height: 105%;
  /* border: 2px solid rgb(114, 21, 21); */
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  margin-top: 10px;
}

.card1 {
  display: flex;
  width: 85%;
  height: 90%;
  border-radius: 20px;
  align-items: center;
  /* background-color:rgb(233, 170, 181); */
  margin-bottom: 10px;
  font-size: 20px;
  border: 2px solid black;
  /* box-shadow: 0 0 1em rgb(233, 14, 116); */
}

.imagens_card {
  height: 75%;
  width: 30%;
}

/* ********************************************************************************************* */
/* PAGINA GALERIA */

/* DIV Da GALERIA */

.galeria {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(241, 166, 201); */
}
/* AQUI MUDA O TAMANHO DO SLIDES TODOS */
.slider {
  margin: 0 auto;
  width: 1000px;
  height: 500px;
  overflow: hidden;
  border-radius: 8px;
  position: absolute;
  outline: 15px solid rgb(233, 14, 116);
  animation: mymove2 5s infinite;
}

/* KEY FRAMES VC CRIA A ANIMAÇÃO */
@keyframes mymove2 {
  50% {
    outline-color: pink;
  }
}
.slides {
  width: 1000px;
  height: 500px;
  display: flex;
  /* border: 2px solid rgb(17, 0, 255);  */
}

.slides input {
  display: none;
}

.slide {
  width: 100%;
  position: relative;
}

.slide img {
  width: 1000px;
}

.manual-navigation {
  position: absolute;
  width: 1000px;
  margin-top: -17px;
  display: flex;
  justify-content: center;
  /* border: 2px solid black;  */
}

.manual-btn {
  border: 2px solid black;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}
/* serve para especar as bolinhas */
.manual-btn:not(:last-child) {
  margin-right: 40px;
}
/* passar o mouse em cima ficar preto */
.manual-btn:hover {
  background-color: black;
}
/* serve para as transiçoes das fotos */
#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -100%;
}

#radio3:checked ~ .first {
  margin-left: -200%;
}

#radio4:checked ~ .first {
  margin-left: -300%;
}

.navigation-auto div {
  border: 2px solid black;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.navigation-auto {
  position: absolute;
  width: 1000px;
  margin-top: 483px;
  display: flex;
  justify-content: center;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

/* QUANDO A BOLINHA FOR CLICADA DEIXA EM BRANCO */

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background-color: black;
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
  background-color: black;
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
  background-color: black;
}
#radio4:checked ~ .navigation-auto .auto-btn4 {
  background-color: black;
}
/* ********************************************************************************************* */

/* ********************************************************************************************* */
/* Rodape */
.footer {
  display: flex;
  border: 2px solid black;
  height: 20%;
  width: 99.7%;
  background-color: rgb(241, 166, 201);
  justify-content: space-around;
  align-items: center;
}

.footer .logo img {
  height: 50%;
  width: 50%;
}

.icones {
  display: flex;
  height: 30%;
  width: 30%;
  /* border: 2px solid firebrick; */
  justify-content: space-around;
  align-items: center;
}
.icones img {
  height: 20%;
  width: 10%;
}
.paginas {
  display: flex;
  height: 50%;
  width: 30%;
  /* border: 2px solid firebrick; */
  justify-content: space-around;
  align-items: center;
}
.paginas a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}
.paginas a:hover,
.paginas a:active {
  color: rgb(233, 14, 116);
}
/* ********************************************************************************************* */
/* PAGINA CONTATO */

.contato {
  display: flex;
  height: 600px;
  width: 99.7%;
  justify-content: space-around;
  align-items: center;
  /* border: 3px solid black; */
}

.form {
  display: flex;
  height: 90%;
  width: 40%;
  border: 3px solid black;
  flex-direction: column;
  border-radius: 20px;
  justify-items: center;
  margin-left: 50px;
  box-shadow: inset 0 0 1em rgb(233, 14, 116), 0 0 1em rgb(233, 14, 116);
}
.form h3 {
  margin-left: 28px;
}

.form h1 {
  margin-left: 40px;
}

.form input {
  border: 2px solid pink;
  width: 80%;
  border-radius: 10px;
  height: 5%;
  margin-left: 20px;
}

.meios {
  height: 90%;
  width: 30%;
  border-radius: 10px;
  border: 3px solid black;
  box-shadow: inset 0 0 1em rgb(233, 14, 116), 0 0 1em rgb(233, 14, 116);
}
.meios .icones {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-evenly;
  border-radius: 20px;
  /* border: 3px solid black; */
}
.meios .icones a {
  text-decoration: 0;
  font-size: 30px;
  /* border: 2px solid gold; */
  color: black;
}
.meios .icones img {
  height: 60%;
  width: 90px;
  /* border: 2px solid aqua; */
}

.meios h1 {
  margin-left: 25px;
}

.painel .contato_comeco {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 150px;
  /* border: 2px solid black; */
  box-shadow: 0 0 1em rgb(233, 14, 116);
  animation: mymove 5s backwards;
}
@keyframes mymove {
  50% {
    padding: 15px;
  }
}

.form .btn {
  margin-top: 15px;
  margin-left: 200px;
  height: 50px;
}
/* ********************************************************************************************* */
/* PAGINA SOBRE MIM */

.sobre {
  height: 100vh;
  border: 2px solid blue;
}

/* ********************************************************************************************* */
/* PAGINA LOGIN */
.container .seta{
  width: 2hw;
  height: 10vh;
  position: absolute;
}
.login {
  height: 100vh;
  /* border: 2px solid blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-image:url(../IMAGENS/Trabalho.png);
  background-size:cover;
  background-position: top center;
  animation: mymove3 5s infinite alternate;
}
 @keyframes mymove3 {
  100% {background-position: center;}

} 
.login .card_login {
  display: flex;
  height: 75vh;
  border: 2px solid black;
  width: 33vw;
  box-shadow: 0 0 2em rgb(233, 14, 116);
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}
.login .card_login h1{
  font-size: 6vh;
  margin: 0;
}

.login .card_login h2{
  font-size: 3vh;
}

.card_login .label{
  width: 80%;
  height: 50%; 
}

.card_login .btn{
  width: 30%;
  height:10%;

}

.card_login a{
  text-decoration: none;
  color: black;
}
/* ********************************************************************************************* */
/* PAGINA CADASTRO */
.login .card_cadastro{
  display: flex;
  height: 70vh;
  border: 2px solid black;
  width: 60vw;
  box-shadow: 0 0 2em rgb(233, 14, 116);
  flex-direction: row;
  border-radius: 10px;

}

#login_id {
  flex-direction: column; /* deixando o titulo no comeco */
  background-image: none;
}
.card_cadastro .label{
  display: flex;
  flex-direction: column;
  /* border: 2px solid black; */
  width: 80%;
  padding: 10px;
  justify-content: space-evenly;
}

.card_cadastro .label .input{
  width: 80%;
}

.card_cadastro .label .btn{
  margin-top: 10px;
  width: 50%;
  height: 30%;

}