body {
	margin: 0;
	font-family: "Barlow Condensed", sans-serif;
}

* {
	margin: 0px;
	padding: 0px;
}

.banner {
	width: 100%;
	height: 100vh;
	display: flex;
	/* border: 1px solid rgba(0, 6, 12, 0.808); */
	flex-direction: row;
}
.btn {
	height: 10vh;
	width: 15vw;
	border-radius: 15px;
	background-color: black;
	font-size: 20px;
	cursor: pointer;
	color: white;
  }
  
  .btn a {
	text-decoration: none;
	color: white;
  }


/* HEADER */
#icone {
	cursor: pointer;
	padding: 15px;
	position: absolute;
	z-index: 1;
}

#check {
	display: none;
	background-color: #f00;
}

.barra {
	background-color: rgb(243, 45, 78);
	height: 100%;
	width: 18vw;
	position: absolute;
	left: -300px;
	transition: all .2s linear;
}

.barra .link {
	list-style: none;
}

nav {
	width: 100%;
	position: absolute;
	top: 60px;
	height: 80%;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

nav a {
	text-decoration: none;
	margin-top: 10vh;
	/* border-radius: 10px; */
}

.link {
	color: white;
	font-size: 3vh;
	padding: 18px;
	border-radius: 3vh;
	transition: all .2s linear;
	opacity: 0;
	margin-top: 200px;
}

.link:hover {
	color: black;
}

#agora {
	color: white;
	background-color: black;
}

#check:checked~.barra nav a .link {
	opacity: 1;
	margin-top: 0;
	transition-delay: .2s;
}

#check:checked~.barra {
	transform: translateX(300px);

}

/* pagina agendamentos */
.card {
	width: 90vw;
	/* border: 1px solid aqua; */
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	/* margin-left: 10px; */
}

.container {
	width: 100vw;
	border: 2px solid black;
	display: flex;
	justify-content: flex-end;
}

.card .formulario{
	width: 65vw;
	height: 90vh;
	border: 1px solid black;
	display: flex;
	box-shadow: 5px 5px rgb(233, 14, 116);
	margin-right: 20px;
	flex-direction: row;
	justify-content: space-around;
	align-items:center;
	font-size: 4vh;
	border-radius: 8vh;
	background-color: pink;
}
.card .formulario input{
	border: 2px solid black;
	width: 23vw;
	border-radius: 2vh;
	height: 5vh;
	/* margin-left: 20px; */
}
.card .formulario .label h2{
	margin: 4vh;
}
.card .formulario .label h3{
	margin: 2vh;
}
.card .formulario .form-foto{
	display: flex;
	flex-direction: column;
	/* border: 2px solid gold; */
	height: 65vh;
	width: 20vw;
	align-items: center;
	justify-content: center;
}
.card .formulario select{
	height: 8vh;
	border: 2px solid black;
	border-radius: 1vw;
	font-size: 3vh;
	margin-top: 5vh;
	margin: 0;
}

#botao-agendamento{
	margin-top: 5vh;
	
}
.hello{
	display: flex;
	align-items: center;
	justify-content: center;
}

.frase img{
	height: 40vh;
	width: 15vw;
}

.frase{
	display: flex;
	font-size: 4vh;
	flex-direction: column;
	align-items: center;
}
/* PAGINA PERFIL */

.container .perfil{
	display: flex;
	width: 50vw;
	height: 99vh;
	border: 2px solid gold;
}

.span_agendamento{
	color: rgb(233, 14, 116);
}


/* PAGINA PAINEL */

.container .painel{
	display: flex;
	border: 2px solid black;
	width: 80vw;
	/* background-color: pink; */
	height: 90vh;
	border-radius: 5vh;
	justify-content: center;
	flex-direction: column;
	box-shadow: 0 0 2em rgb(233, 14, 116);
	align-items: center;

}

.sub_grafico {
	height: 85%;
	width: 45%;
	border: 0.5vh solid rgb(233, 14, 116);
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-items: center;
	border-radius: 10px;
}


.grafico{
	height: 80%;
	width: 100%;
	display: flex;
	flex-direction: row;
	/* border: 2px solid blue; */
	align-items: center;
	justify-content: space-around;
}